.result-card {
  background: #a7dbfe;
  padding: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(69, 210, 253);
  transition: transform 0.2s ease, max-height 0.4s ease;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.result-card.clickable {
  cursor: pointer;
}

.result-card:hover {
  transform: scale(1.01);
}

.result-card h3 {
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.result-details {
  transition: max-height 0.4s ease, opacity 0.3s ease;
  overflow: hidden;
}

.result-details.hidden {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.result-details.visible {
  max-height: 1000px;
  opacity: 1;
}

.result-details p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #444;
}

.result-actions-row {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.action-btn {
  background-color: #89d1fafa;
  color: white;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-btn:hover {
  background-color: #77ecf5;
}